name: TUnitTestProjectTestCases

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Run only selected tests
        run: |
          dotnet test \
            --logger "trx;LogFileName=test_results.trx" \
            --results-directory TestResults \
            "--test-case-filter=FullyQualifiedName~TUnitTestProject.Tests.StringHelperTests OR FullyQualifiedName~TUnitTestProject.Tests.BooleanHelperTests OR FullyQualifiedName~TUnitTestProject.Tests.MyCalculatorTests"

      - name: Publish Test Summary in GitHub UI
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Test Results
          path: TestResults/test_results.trx
          reporter: dotnet-trx

      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: TestResults

